{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
<div>
    <form action="#" method="post">
        <input type="text" name="token" value="{{ token }}" hidden>
        <label for="f-name">First Name</label>
        <input type="text" name="f-name" id="f-name">
        <label for="s-name">Sir Name</label>
        <input type="text" name="s-name" id="s-name">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <div class="input-group-append">
            <span class="input-group-text" onclick="password_show_hide()">
              <i class="fas fa-eye" id="show_eye"></i>
              <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
            </span>
        </div>
    </div>
        <span id="password-pattern" class="password-pattern" hidden="hidden">
            <input type="checkbox" id="upper" disabled readonly>
            <label for="upper">Contains at least 1 upper-case character</label>
            <input type="checkbox" id="lower" disabled readonly>
            <label for="lower">Contains at least 1 lower-case character</label>
            <input type="checkbox" id="special-character" disabled readonly>
            <label for="special-character" >Contains a special character</label>
            <input type="checkbox" id="number" disabled readonly>
            <label for="number">Contains a numeric digit (0 thru 9)</label>
            <input type="checkbox" id="length" disabled readonly>
            <label for="length">At-least 8 characters long</label>
        </span>
    </div>
        <label for="password2">Confirm Password</label>
        <input type="password" id="password2" name="password2">
        <div class="input-group-append">
            <span class="input-group-text" onclick="password2_show_hide()">
              <i class="fas fa-eye" id="show_eye2"></i>
              <i class="fas fa-eye-slash d-none" id="hide_eye2"></i>
            </span>
        </div>
    </div>
        <span id="matching-password" class="matching-password" hidden="hidden">
            Passwords don't match
        </span>
    </div>
        <button type="submit">Register</button>
    </form>
    Already have an account? <a href="{{ url_for('login') }}">Login</a>
</div>
{% endblock %}